@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e2e42;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    color: #bd93f9;
}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    color: #bd93f9;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: #bd93f9;
}

.logo img{
    padding-right: 5px;
}

li, a {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ff79c6;
    text-decoration: none;
}

.light-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    color: aliceblue;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin: 50px;
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.75em;
    color:aliceblue;
}

.quote b{
    color: #ff79c6;
    font-size: .75em;
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:darkslateblue;
}

.nav_links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.container-vertical {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
    max-width: 500px;
    padding: 50px;
}

.section {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
    background-color: #ff79c6;
    max-width: 100px;
    margin-top: 5px;
    padding: 8px;
    color: aliceblue;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform:uppercase;
}

.cards {
    width: 200px;
    margin: 20px;
    padding: 35px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: darkslateblue;
}

.cta {
    display: flex;
    align-items: center;
}

.cta-module {
    background-color: darkslateblue;
    margin: auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-content {
    display: flex;
    flex-flow: column wrap;
    padding-right: 25px;
}

.copyright {
    margin: 25px;
    text-align: center;
}


margin: 2em;
padding: 4%;
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: center;
max-width: 1500px;